.blogContainer{
    margin-top: 15px;
    margin-left: 15px;
    display: inline-block;
    padding: 0px;
	text-decoration: none;
	font-family: 'PT-Sans';
	font-size: 30px;
	width: 300px;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.25);
	-moz-box-shadow:1px 1px 6px 0 rgba(0,0,0,0.25);
	-webkit-box-shadow:1px 1px 6px 0 rgba(0,0,0,0.25);
	position: relative;
	float: left;
	text-overflow: ellipsis;
    max-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}

